.container {
  margin-top: 3rem;
}

.content {
  border: 1px solid #fff;
  width: 15rem;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}
