<!-- <div class="login-page">
    <h3>Please log in</h3>
    <form (submit)="addName($event)">
        <input type="text" name="name" id="name">
        <button type="submit">Enter</button>
    </form>
</div>  -->


<article class="article-header">
            <h1 class="header">Pokémon Trainer</h1>   
    
    <div class="login-box">
        
     
    <h2>Login</h2>
    <form (submit)="addName($event)">
        <div class="user-box">
            <input type="text" name="name" required="">
            <label>Username</label>
        </div>
       
        <button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </button>
    </form>
</div>

</article>