/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  color: aliceblue;
  font-family: "Inconsolata", monospace;
  line-height: 1.4;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
