<div class="main-wrapper">



<app-navbar></app-navbar>

<div class="showcase">
   
    <div class="container showcase-inner">
              <h1 class="header">Pokedex</h1>
   
        <div *ngFor="let pokemon of pokedex" class="content-display">
           
           
                <div *ngIf="isCaught(pokemon.data.name);else elseBlock">
                    
                    <p>  {{pokemon.data.name}} </p>
                    <img src="{{pokemon.image_url}}">
                    <img src="../../../../assets/images/pokeball.png" style="width:30px;height:30px"> <!--change style to css later-->
                </div>
                
                <ng-template #elseBlock>
                    {{pokemon.data.name}}
                    <img src="{{pokemon.image_url}}">
                    <button class="btn-grad" (click)="catchPokemon(pokemon.data.name, pokemon.image_url)">Catch</button>
                </ng-template>
           
        </div>
    </div>
</div>
</div>